 body{
    display:flex;
    flex-wrap: wrap;
    background-color:#E9E9E9;
}

body > header{
    flex-basis: 100%;
}


 #banniere{
    position:initial;
    top:0;
    left:0;
    width:100%;
    height:250px;
 }
#imgaccueils{
    text-align: center;
} 

main {
    flex-basis:65%;
}

aside{
    margin-top:7em;
    flex-basis:30%;
    flex-grow:1;
    margin-left:2em;
}

aside p{
    padding:15px;
}
aside h2{
    padding:5px;
}
main>header{
    display:flex;
    flex-wrap: wrap;
}
header>h1{
    flex-basis: 100%;
    text-align: center;
    text-decoration:underline;
    text-shadow:1px 1px 1px black;
}
header>img{
    justify-self: center;
}
footer{
    display:flex;
    margin-top:1em;
    box-shadow: 1px 1px 1px black;
}

footer{
    display:flex;
    flex-basis:100%;
    margin-top:1em;
}


footer > p{
    flex-basis: 50%;
    text-align: center;
}
ul {
    display:flex;
    padding:0;
    flex-wrap:wrap;

}
nav{
    flex-basis: 100%;
}
 header > nav li{
    flex-basis: 19%;
    flex-grow:1;
    border: thin solid black;
    list-style-type: none;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

section li{
    border: thin solid black;
    list-style-type: none;
    padding : 1em;
}
main h2{
    text-decoration: underline;
}
.imagessaison{
    width:400px;
    height:220px;
    margin-left:auto;
    margin-right:auto;
}
section{
    display:flex;
    flex-wrap: wrap;
}
section li{
    flex-basis:65%;
}
section >p{
    flex-basis: 100%;
}
a{
  text-decoration: none;
}
nav li:hover{
    background-color:grey;
}

footer, aside{
    border:thin solid black;
    padding:4px;
    box-shadow: 1px 1px 1px black;
}
aside li{
     border: thin solid black;
    flex-basis:70%;
    list-style-type: none;
    padding:0.5em;
}

.imagessaison{
    box-shadow: 4px 4px 4px black;
}

