body{
    display:flex;
    flex-wrap: wrap;
    background-color:#E9E9E9;
}

#hughie{
    width:25em;
    height:15em;
    float:left;
    margin:2em;
}
#butcher{
    width:25em;
    height:15em;
    float:right;
    margin:2em;
}
#homelander{
    width:25em;
    height:15em;
    float:left;
    margin:2em;
}

#starlight{
    width:25em;
    height:15em;
    float:right;
    margin:2em;
}
header{
    flex-basis: 100%;
}

main h1{
    flex-basis: 100%;
    text-align: center;
    text-decoration:underline;
    text-shadow:1px 1px 1px black;
}

 #banniere{
    position:initial;
    top:0;
    left:0;
    width:100%;
    height:250px;
 }

main {
    flex-basis:65%;
}
main section{
    font-size:65%;
    margin-top:4em;
}

main h2{
    text-decoration: underline;
}
aside{
    margin-top:7em;
   
    flex-basis:30%;
    flex-grow:1;
    margin-left:2em;
                        
}
a{
    text-decoration: none;
}
section p{
    font-size:125%;
    margin-bottom:7em;
}
aside p{
    padding:10px;
}
aside h2{
    padding:5px;                      
}
section h2{
    flex-wrap:nowrap;
    flex-basis:20%;
}
section p{
    flex-basis: 40%;
}

footer{
    display:flex;
    flex-wrap: nowrap;
    flex-grow:1;
    margin-top:1em;
}


footer > p {
    margin-left:15vw;
    margin-right:15vw;  
}
ul {
    display:flex;
    padding:0;
    flex-wrap:wrap;

}

nav{
    flex-basis: 100%;
}
nav li{
    flex-basis: 19%;
    flex-grow:1;
    border: thin solid black;
    list-style-type: none;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

aside li{
     border: thin solid black;
    flex-basis:70%;
    list-style-type: none;
    padding:0.5em;
}
footer, aside{
    border:thin solid black;
    padding:4px;
}

.imagessaison{
    box-shadow: 4px 4px 4px black;
}

table{
    width:70%;
    
}
table tr td{
   border: thin solid black;
    padding:5px;
     padding-right: 150px;
    
}